@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Lato,PingFang SC,Microsoft YaHei,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background: #eff3f8;
  -webkit-text-size-adjust: 100%!important;
  touch-action: manipulation;
  overflow-y: overlay;
}

#content-wrapper {
  align-items: flex-start!important;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.aside {
  flex-direction: column;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 220px;
  padding: 20px 0 36px 30px;
  height: 100vh;
  background: #fff;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 3%);
  overflow: auto;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.aside-top {
  width: 100%;
}
.aside-top a {
  text-decoration: none;
  color: inherit;
}

.aside-menu {
  margin-top: 48px;
  width: 100%;
}
.aside-menu .item {
  color: #19233c;
  border-right: 4px solid #fe815f;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}
.aside-menu .item .menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.aside-menu .item .aside-menu-line {
  margin: 30px 32px 30px 0;
  height: 1px;
  background-color: #e1e5f2;
}
.aside-bottom {
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
}
.main .page_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1;
  box-sizing: border-box;
}
.main .page_content .content_header_wrap {
  position: relative;
  z-index: 10;
}
.main .page_content .content_header {
  background: #fafbfc;
  padding-top: 32px;
  padding-bottom: 12px;
}

main .page_content .content_header_info_wrap {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.main .page_content .content_header_info {
  display: flex;
  justify-content: space-between;
}
.main .page_content .content_header_info_main {
  display: flex;
  width: 521px;
}
.main .page_content .avatar_wrap {
  width: 86px;
  height: 86px;
  margin-right: 24px;
  position: relative;
  flex-shrink: 0;
}
.main .page_content .avatar {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border-radius: 4px;
  overflow: visible;
  overflow: initial;
}
.main .page_content .avatar_img_container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.main .page_content .avatar_img_container img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  clip-path: none;
  flex-shrink: 0;
  image-rendering: pixelated;
  object-fit: cover;
}
.main .page_content .user_info {
  margin-bottom: 32px;
}
.main .page_content .user_info_uid {
  margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
    color: #19233c;
    display: flex;
    align-items: center;
}
.main .page_content .user_info_uid_unset {
  color: rgba(137,147,167,.4);
}
.main .page_content .user_info_address {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #616b84;
}
.main .page_content .user_info_address_copy {
  margin-left: 8px;
  height: 20px;
}
.main .page_content .user_info_address_copy svg {
  cursor: pointer;
  color: #eff3f8;
}
.main .page_content .user_info_address_qrcode {
  margin-left: 8px;
  height: 20px;
  cursor: pointer;
}
.main .page_content .user_info_address_qrcode svg {
  color: #eff3;
}
.main .page_content .user_info_address_tags .db-user-tag-list {
  margin-top: 0;
  grid-gap: 8px;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  visibility: hidden;
}
.main .page_content .user_info_address_tags .db-user-tag-list .db-user-tag {
  border: 1px solid #e1e5f2;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  height: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #616b84;
  padding: 4px 7px;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .page_content .user_info_address_tags .db-user-tag-list img {
  margin-right: 4px;
}
.main .page_content .content_header_info_right {
  position: relative;
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
}

.main .page_content .content_header_tab_container {
  background: #fafbfc;
}
.main .page_content .content_header_tab_container .content_header_tab_wrap {
  margin-top: 36px;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main .page_content .content_header_tab {
  font-size: 14px;
    color: #8b93a7;
    font-weight: 700;
    line-height: 20px;
    display: flex;
}
.main .page_content .content_header_tab_item {
  margin-right: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 11px;
  border-bottom: 1px solid transparent;
  font-size: 15px;
  outline: none;
}
.main .page_content .content_header_tab_item:first-child {
  padding-left: 0;
  padding-right: 0;
}
.main .page_content .content_header_tab_item[data-headlessui-state='selected'] {
  font-weight: 600;
  color: #fe815f;
  padding-bottom: 8px;
  border-width: 0 0 4px 0;
  border-color: #fe815f;
}

.main .page_content .tab_container {
  width: 85vw;
  max-width: 960px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e1e5f2;
  background: #fafbfc;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.03);
  align-items: center;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
}
.header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: space-between;
  box-sizing: border-box;
}
.header_container .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_container .nav .nav_back_btn {
  margin-right: 15px;
  cursor: pointer;
  color: var(--color-title);
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header_container .nav .nav_address {
  font-size: 18px;
  font-weight: 700;
  color: #19233c;
  line-height: 29px;
  padding: 15px 0;
  display: flex;
  align-items: center;
}
.header_container .option {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_container .option .search .input {
  height: 34px!important;
  line-height: 34px!important;
  position: relative;
  font-size: inherit;
  font-weight: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #fff;
  border-radius: 99px;
  border: 1px solid #e1e5f2;
  transition: all .3s ease-in-out;
  width: 358px;
  font-size: 14px!important;
}
.header_container .option .search .input:hover {
  border: 1px solid #fe815f!important;
  background-color: #fff!important;
  box-shadow: 0 3px 8px 0 rgba(254,129,95,.12)!important;
}
.header_container .option .search .input:hover .input_wrap .input_search_icon {
  fill: #fe815f;
}
.header_container .option .search .input span {
  color: rgba(137,147,167,.6);
  padding: 0 24px 0 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 14px;
  padding-left: 36px;
}
.header_container .option .search .input .input_wrap {
  box-sizing: border-box;
  padding: 0 12px;
  display: flex;
  align-items: center;
  transition: all .3s;
  position: relative;
  font-size: 14px;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  right: 24px;
  bottom: 0;
  left: 0;
  border: 0;
  border-radius: inherit;
  color: inherit;
  background-color: transparent;
  transition: all .3s ease-in-out;
}
.header_container .option .search .input .input_wrap .input_search_icon {
  width: 16px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-right: 8px;
  fill: #BABEC9;
}
.header_container .option .search .input .input_wrap .input_input {
  flex: 1 1;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #19233c;
  outline: none;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  background: transparent;
  text-overflow: unset;
}
.header_container .login {
  position: relative;
  margin-left: 20px;
  display: none;
}
.header_container .login_button {
  color: #fff;
  background-color: #fe815f;
  border-color: #fe815f;
  min-width: 200px;
  height: 36px;
  padding: 0 12px;
  font-weight: 700;
  --border-radius: 9999px;
  overflow: hidden;
  position: relative;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  text-align: center;
  transition: all .3s ease-in-out;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
}
.header_container .login_button:hover {
  opacity: .9;
}

.btn{
  background-color: #fff;
  border-radius: 99px;
  text-align: center;
  height: 36px;
  width: auto;
  font-size: 13px;
  line-height: 2rem;
  color: #fe815f;
  cursor: pointer;
}
.history-container .btn-load-more{
  height: 36px;
  width: 240px;
}
.search_input {
  height: 34px!important;
  line-height: 34px!important;
  position: relative;
  font-size: inherit;
  font-weight: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #fff;
  border-radius: 99px;
  border: 1px solid #e1e5f2;
  transition: all .3s ease-in-out;
  width: 230px;
  font-size: 14px!important;
}
.search_input:hover {
  border: 1px solid #fe815f!important;
  background-color: #fff!important;
  box-shadow: 0 3px 8px 0 rgba(254,129,95,.12)!important;
}
.search_input:hover .input_wrap .input_search_icon {
  fill: #fe815f;
}
.search_input span {
  color: rgba(137,147,167,.6);
  padding: 0 24px 0 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 14px;
  padding-left: 36px;
}
.search_input .input_wrap {
  box-sizing: border-box;
  padding: 0 12px;
  display: flex;
  align-items: center;
  transition: all .3s;
  position: relative;
  font-size: 14px;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  right: 24px;
  bottom: 0;
  left: 0;
  border: 0;
  border-radius: inherit;
  color: inherit;
  background-color: transparent;
  transition: all .3s ease-in-out;
}
.search_input .input_wrap .input_search_icon {
  width: 16px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-right: 8px;
  fill: #BABEC9;
}
.search_input .input_wrap .input_input {
  flex: 1 1;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #19233c;
  outline: none;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  background: transparent;
  text-overflow: unset;
}

.footer {
  background: #fff;
  font-size: 13px;
  color: #616b84;
  line-height: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Utilities */
@layer utilities {
  .bg-custom-orange {
    background: #fe815f;
  }
  .bg-custom-grey {
    background: #eff3f8;
  }
  .bg-custom-pink {
    background: rgba(254,129,95,.25);
  }
  .text-custom-orange {
    color: #fe815f;
  }
  .text-custom-grey {
    color: #616b84;
  }
  .text-custom-grey2 {
    color: #8b93a7;
  }
}

@keyframes UpdateButton_rotating {
  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(1turn)
  }
}

/* Components */
@layer components {
  .chain-summary-card {
    @apply bg-white rounded-md box-border p-6 shadow
  }
  .chain-wrap {
    @apply gap-y-4 flex flex-wrap
  }
  .chain-wrap .chain-item {
    min-width: 1rem;
    @apply inline-flex items-center gap-2 cursor-pointer text-xs text-custom-grey hover:text-custom-orange focus:outline-none;
  }
  .chain-wrap .chain-item .chain-logo {
    width: 32px;
    height: 32px;
  }
  .chain-wrap .chain-item:hover .chain-logo {
    @apply drop-shadow-xl;
  }
  .chain-wrap .chain-item .chain-item-text {
    width: 142px;
  }
  .chain-wrap .chain-item .chain-usd {
    @apply text-gray-900 font-bold text-base
  }
  .chain-wrap .chain-item:hover .chain-usd {
    @apply text-custom-orange font-bold text-base
  }

  .protocol-wrap {
    @apply mt-8 gap-y-2 gap-x-1 flex flex-wrap
  }
  .protocol-wrap .protocol-item {
    min-width: 9.15rem;
    @apply p-3 rounded-md inline-flex items-center gap-2 cursor-pointer text-xs font-bold text-custom-grey bg-custom-grey hover:bg-custom-pink focus:outline-none;
  }
  .protocol-wrap .protocol-item .protocol-logo {
    width: 20px;
    height: 20px;
    @apply rounded-full
  }
  .protocol-logo-wrap {
    @apply relative
  }
  .protocol-logo-wrap .protocol-chain {
    width: 12px;
    height: 12px;
    top: -5px;
    right: -2px;
    @apply absolute
  }
  .protocol-wrap .protocol-item .protocol-usd {
    @apply text-gray-900
  }
  
  .protocol-item-container {
    @apply mt-8
  }
  .protocol-item-container .card-wrap {
    @apply bg-white rounded-md box-border shadow
  }
  .protocol-item-container .protocol-item-header {
    @apply flex items-center gap-2 mb-3 justify-between
  }
  .protocol-item-container .protocol-item-title-wrap {
    @apply flex items-center gap-2
  }
  .protocol-item-container .protocol-item-header .protocol-item-title {
    @apply text-xl
  }
  .protocol-item-container .protocol-item-header .protocol-item-logo {
    width: 24px;
    height: 24px;
  }
  .protocol-item-container .protocol-item-header .protocol-item-usd {
    @apply text-base font-bold text-gray-900
  }
  .protocol-item-container .card-wrap .card-panel-header {
    @apply flex items-center py-5
  }
  .protocol-item-container .card-wrap .card-panel-header .card-protocol-name {
    padding: 4px 26px;
    @apply text-white bg-gray-400 text-xs rounded-r-md
  }
  .protocol-item-container .card-wrap .card-panel-container {
    @apply p-5 pt-0
  }
  .protocol-item-container .card-wrap .card-panel-container .table-header {
    min-width: 800px;
    @apply flex
  }
  .protocol-item-container .card-wrap .card-panel-container .table-header > div {
    padding: 7px 10px;
    @apply flex-1 bg-custom-grey text-custom-grey2 text-xs font-bold
  }
  .protocol-item-container .card-wrap .card-panel-container .table-header > div:last-child {
    @apply text-right
  }
  .protocol-item-container .card-wrap .card-panel-container .table-content-row {
    min-height: 50px;
    color: #19233c;
    @apply flex items-center
  }
  .protocol-item-container .card-wrap .card-panel-container .table-content-row > div {
    padding: 7px 10px;
    font-size: 13px;
    @apply flex-1 font-bold
  }
  .protocol-item-container .card-wrap .card-panel-container .table-content-row > div.flex-table-col {
    @apply flex gap-2 items-center flex-wrap
  }
  .protocol-item-container .card-wrap .card-panel-container .table-content-row > div:last-child {
    @apply text-right
  }
  .protocol-item-container .card-wrap .card-panel-container .table-content-row .token-icons {
    @apply flex items-center
  }
  .protocol-item-container .card-wrap .card-panel-container .table-content-row .token-icons .token-icon {
    width: 20px;
    height: 20px;
    @apply relative
  }
  
  .loading-icon {
    animation: UpdateButton_rotating 1s ease-in-out infinite;
    animation-play-state: paused;
  }
  .loading-icon.running {
    animation-play-state: running;
  }
}
